<a href="https://colab.research.google.com/github/Ans365332/6may-file-example/blob/main/dataset_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [22]:
df=pd.read_csv('/content/titanic - titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

# Data Cleaning & Basic Exploration

In [13]:
# 1.Check the first 5 rows.
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
# 2. Find the shape (rows & columns) of the dataset.
df.shape

(418, 12)

In [5]:
# 3. Get column names and their data types.
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
# 4. Check for missing values in each column.
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [23]:
# 5. Drop the column Ticket (since it is not useful for analysis).
df.drop('Ticket',axis=1,inplace=True)

In [24]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,22.3583,NaN,C

In [25]:
# 6. Fill missing values in Age with the mean age.
df['Age'].fillna(df['Age'].mean(),inplace=True)

/tmp/ipython-input-694922604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

In [26]:
df['Age'].isna().sum()

np.int64(0)

In [28]:
# 7. Fill missing values in Embarked with the most frequent value.
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

/tmp/ipython-input-3717664479.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

In [29]:
df['Embarked'].isna().sum()

np.int64(0)

In [30]:
# 8. Create a new column FamilySize = SibSp + Parch + 1.
df['FamilySize']=df['SibSp']+df['Parch']+1

In [31]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
0,892,0,3,"Kelly, Mr. James",male,34.50000,0,0,7.8292,NaN,Q,1
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,7.0000,NaN,S,2
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,9.6875,NaN,Q,1
3,895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,8.6625,NaN,S,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,12.2875,NaN,S,3
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,8.0500,NaN,S,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,108.9000,C105,C,1
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,7.2500,NaN,S,1
416,1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,8.0500,NaN,S,1
417,1309,0,3,"Peter, Master. Michael J",male,30.27259,1,1,22.3583,NaN,C,3

In [32]:
# 9. Drop the column Cabin (too many missing values).
df.drop('Cabin',axis=1,inplace=True)

In [33]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
0,892,0,3,"Kelly, Mr. James",male,34.50000,0,0,7.8292,Q,1
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,7.0000,S,2
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,9.6875,Q,1
3,895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,8.6625,S,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,12.2875,S,3
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,8.0500,S,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,108.9000,C,1
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,7.2500,S,1
416,1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,8.0500,S,1
417,1309,0,3,"Peter, Master. Michael J",male,30.27259,1,1,22.3583,C,3

In [34]:
# 10. Rename the column Pclass to PassengerClass.
df.rename(columns={'Pclass':'PassangerClass'},inplace=True)

In [35]:
df

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
0,892,0,3,"Kelly, Mr. James",male,34.50000,0,0,7.8292,Q,1
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,7.0000,S,2
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,9.6875,Q,1
3,895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,8.6625,S,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,12.2875,S,3
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,8.0500,S,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,108.9000,C,1
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,7.2500,S,1
416,1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,8.0500,S,1
417,1309,0,3,"Peter, Master. Michael J",male,30.27259,1,1,22.3583,C,3

# Filtering & Selection

In [36]:
# 1. Select all passengers who were in PassengerClass 1.
df[df['PassangerClass']==1]

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.00000,0,0,26.0000,S,1
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00000,1,0,82.2667,S,2
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00000,1,0,61.1750,S,2
20,912,0,1,"Rothschild, Mr. Martin",male,55.00000,1,0,59.4000,C,2
22,914,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,30.27259,0,0,31.6833,S,1
...,...,...,...,...,...,...,...,...,...,...,...
403,1295,0,1,"Carrau, Mr. Jose Pedro",male,17.00000,0,0,47.1000,S,1
404,1296,0,1,"Frauenthal, Mr. Isaac Gerald",male,43.00000,1,0,27.7208,C,2
407,1299,0,1,"Widener, Mr. George Dunton",male,50.00000,1,1,211.5000,C,3
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.00000,1,0,90.0000,Q,2
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,108.9000,C,1

In [37]:
# 2. Select all passengers who are older than 50 years.
df[df['Age']>50]

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875,Q,1
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,26.0000,S,2
20,912,0,1,"Rothschild, Mr. Martin",male,55.0,1,0,59.4000,C,2
48,940,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0,0,0,76.2917,C,1
69,961,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,4,263.0000,S,6
77,969,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0,2,0,25.7000,S,3
81,973,0,1,"Straus, Mr. Isidor",male,67.0,1,0,221.7792,S,2
96,988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,78.8500,S,2
114,1006,1,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1,0,221.7792,S,2
131,1023,0,1,"Gracie, Col. Archibald IV",male,53.0,0,0,28.5000,C,1
142,1034,0,1,"Ryerson, Mr. Arthur Larned",male,61.0,1,3,262.3750,C,5
152,1044,0,3,"Storey, Mr. Thomas",male,60.5,0,0,NaN,S,1
177,1069,0,1,"Stengel, Mr. Charles Emil Henry",male,54.0,1,0,55.4417,C,2
179,1071,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,83.1583,C,3
193,1085,0,2,"Lingane, Mr. John",male,61.0,0,0,12.3500,Q,1
213,1105,1,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.0,1,0,26.0000,S,2
217,1109,0,1,"Wick, Mr. George Dennick",male,57.0,1,1,164.8667,S,3
224,1116,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0,0,0,27.4458,C,1
236,1128,0,1,"Warren, Mr. Frank Manley",male,64.0,1,0,75.2500,C,2
240,1132,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0,0,0,27.7208,C,1
293,1185,0,1,"Dodge, Dr. Washington",male,53.0,1,1,81.8583,S,3
305,1197,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,26.5500,S,3
308,1200,0,1,"Hays, Mr. Charles Melville",male,55.0,1,1,93.5000,S,3
314,1206,1,1,"White, Mrs. John Stuart (Ella Holmes)",female,55.0,0,0,135.6333,C,1
316,1208,0,1,"Spencer, Mr. William Augustus",male,57.0,1,0,146.5208,C,2
343,1235,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,512.3292,C,2
356,1248,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2,0,51.4792,S,3
374,1266,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,81.8583,S,3
378,1270,0,1,"Hipkins, Mr. William Edward",male,55.0,0,0,50.0000,S,1
387,1279,0,2,"Ashby, Mr. John",male,57.0,0,0,13.0000,S,1
391,1283,1,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,39.4000,S,2

In [38]:
# 3. Find all female passengers who survived.
df[(df['Sex']=='female')&(df['Survived']==1)]

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,7.0000,S,2
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,12.2875,S,3
6,898,1,3,"Connolly, Miss. Kate",female,30.00000,0,0,7.6292,Q,1
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00000,0,0,7.2292,C,1
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00000,1,0,82.2667,S,2
...,...,...,...,...,...,...,...,...,...,...,...
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.00000,1,1,13.7750,S,3
410,1302,1,3,"Naughton, Miss. Hannah",female,30.27259,0,0,7.7500,Q,1
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.00000,1,0,90.0000,Q,2
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.00000,0,0,7.7750,S,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,108.9000,C,1

In [39]:
# 4. Find all passengers who paid a fare greater than 50.
df[df['Fare']>50]

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,82.2667,S,2
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,61.1750,S,2
20,912,0,1,"Rothschild, Mr. Martin",male,55.0,1,0,59.4000,C,2
23,915,0,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,61.3792,C,2
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,262.3750,C,5
...,...,...,...,...,...,...,...,...,...,...,...
400,1292,1,1,"Bonnell, Miss. Caroline",female,30.0,0,0,164.8667,S,1
402,1294,1,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,59.4000,C,2
407,1299,0,1,"Widener, Mr. George Dunton",male,50.0,1,1,211.5000,C,3
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,90.0000,Q,2
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,108.9000,C,1

In [40]:
# 5. Find the passengers who were traveling alone (FamilySize == 1).
df[df['FamilySize']==1]

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
0,892,0,3,"Kelly, Mr. James",male,34.50000,0,0,7.8292,Q,1
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,9.6875,Q,1
3,895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,8.6625,S,1
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.00000,0,0,9.2250,S,1
6,898,1,3,"Connolly, Miss. Kate",female,30.00000,0,0,7.6292,Q,1
...,...,...,...,...,...,...,...,...,...,...,...
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.00000,0,0,7.7750,S,1
413,1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,8.0500,S,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,108.9000,C,1
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,7.2500,S,1
416,1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,8.0500,S,1

# Grouping & Aggregation

In [41]:
# 1. Find the average age of passengers grouped by Sex.
avg=df.groupby('Sex')['Age'].mean()
avg

Sex
female    30.272400
male      30.272699
Name: Age, dtype: float64

In [42]:
# 2. Find the survival rate grouped by PassengerClass.
avg=df.groupby('PassangerClass')['Survived'].mean()
avg

PassangerClass
1    0.467290
2    0.322581
3    0.330275
Name: Survived, dtype: float64

In [43]:
# 3. Find the maximum fare paid by each PassengerClass.
max=df.groupby('PassangerClass')['Fare'].max()
max

PassangerClass
1    512.3292
2     73.5000
3     69.5500
Name: Fare, dtype: float64

In [45]:
# 4. Count how many passengers boarded from each port (Embarked).
df['Embarked'].value_counts()

Embarked
S    270
C    102
Q     46
Name: count, dtype: int64

In [46]:
avg=df.groupby('Survived')['FamilySize'].mean()
avg

Survived
0    1.654135
1    2.164474
Name: FamilySize, dtype: float64

# Sorting & Advanced Analysis

In [47]:
# 1. Sort the dataset by Fare in descending order.
df.sort_values('Fare',ascending=False)

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
343,1235,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.00000,0,1,512.3292,C,2
69,961,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00000,1,4,263.0000,S,6
53,945,1,1,"Fortune, Miss. Ethel Flora",female,28.00000,3,2,263.0000,S,6
59,951,1,1,"Chaudanson, Miss. Victorine",female,36.00000,0,0,262.3750,C,1
64,956,0,1,"Ryerson, Master. John Borie",male,13.00000,2,2,262.3750,C,5
...,...,...,...,...,...,...,...,...,...,...,...
133,1025,0,3,"Thomas, Mr. Charles P",male,30.27259,1,0,6.4375,C,2
21,913,0,3,"Olsen, Master. Artur Karl",male,9.00000,0,1,3.1708,S,2
266,1158,0,1,"Chisholm, Mr. Roderick Robert Crispin",male,30.27259,0,0,0.0000,S,1
372,1264,0,1,"Ismay, Mr. Joseph Bruce",male,49.00000,0,0,0.0000,S,1
152,1044,0,3,"Storey, Mr. Thomas",male,60.50000,0,0,NaN,S,1

In [51]:
# 2. Find the top 5 oldest passengers.
df1=df.sort_values('Age',ascending=False)
df1.head()

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
96,988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,78.8500,S,2
81,973,0,1,"Straus, Mr. Isidor",male,67.0,1,0,221.7792,S,2
305,1197,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,26.5500,S,3
236,1128,0,1,"Warren, Mr. Frank Manley",male,64.0,1,0,75.2500,C,2
179,1071,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,83.1583,C,3

In [52]:
# 3. Find the top 5 passengers who paid the highest fare.
df1=df.sort_values('Fare',ascending=False)
df1.head()

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
343,1235,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,512.3292,C,2
69,961,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,4,263.0000,S,6
53,945,1,1,"Fortune, Miss. Ethel Flora",female,28.0,3,2,263.0000,S,6
59,951,1,1,"Chaudanson, Miss. Victorine",female,36.0,0,0,262.3750,C,1
64,956,0,1,"Ryerson, Master. John Borie",male,13.0,2,2,262.3750,C,5

In [ ]:
# 4. Find the survival rate of children (Age < 18) vs adults.

In [53]:
df['FarePerPerson']=df['Fare']/df['FamilySize']

In [54]:
df

,PassengerId,Survived,PassangerClass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,FarePerPerson
0,892,0,3,"Kelly, Mr. James",male,34.50000,0,0,7.8292,Q,1,7.829200
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,7.0000,S,2,3.500000
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,9.6875,Q,1,9.687500
3,895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,8.6625,S,1,8.662500
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,12.2875,S,3,4.095833
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,8.0500,S,1,8.050000
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,108.9000,C,1,108.900000
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,7.2500,S,1,7.250000
416,1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,8.0500,S,1,8.050000
417,1309,0,3,"Peter, Master. Michael J",male,30.27259,1,1,22.3583,C,3,7.452767

In [55]:
# 5. Create a new column FarePerPerson=Fare/FamilySize and find the average
#FarePerPerson for each PassengerClass.
avg=df.groupby('PassangerClass')['FarePerPerson'].mean()
avg

PassangerClass
1    56.672489
2    14.644335
3     7.679520
Name: FarePerPerson, dtype: float64